.bar-nav
  %ul.nav.nav-tabs#help-menu
    %a.selected{href: "#ratings"}
      Ratings Promts
      %span.caret
    %a{href: "#message-center"}
      Message Center
      %span.caret
    %a{href: "#surveys"}
      Surveys
      %span.caret

.help-container

  .span9.help-information.tab-content
    #ratings.active.tab-pane
      %h1 Specific Components for iOS
      %p
        Any of the following components can be integrated separately, but Apptentive is designed to be a complete suite of interlocking products.  You will probably get more value from having all of these features enabled and running in your app.

      .line

      %h2 Ratings Prompts
      %p We all know that better and more ratings makes your app more appealing to people who come across it in the app store.

      %p 
        The way to achieve this best is through making sure your app users are happy. This module explicitly asks your users how they feel about your app and gives those who aren't happy the opportunity to talk 
        %i directly to you.

      %h3 Instructions

      %p 
        To use the App Rating Flow, start by adding the   
        %span.label ATAppRatingFlow.h
        header file to your project.

      %p Then, at startup, instantiate a shared ATAppRatingFlow object with your iTunes App ID. For example:

      -# =image_tag 'developer_center/code.png'

    #message-center.tab-pane
      %h1 Message center
      %p 
        Any of the following components can be integrated separately, but Apptentive is designed to be a complete suite of interlocking products.  You will probably get more value from having all of these features enabled and running in your app.

    #surveys.tab-pane
      %h1 Surveys
      %p 
        Any of the following components can be integrated separately, but Apptentive is designed to be a complete suite of interlocking products.  You will probably get more value from having all of these features enabled and running in your app.

  .span3.help-sidebar
    %span Last Updated 08.05.13
    %ul
      %li 
        %a.print Print Document
      %li 
        %a.git View on GitHub

