.status
  .content-status
    %h1 All services are go!
    %h3
      98% total uptime since 01.16.12
      %span Details

.contact-container
  .btn-group
    %button.btn Follow @apptentive_ops
    %button.btn Contact Us

.updates
  %table
    %tbody
      %tr
        %td.date
          Sunday, May 5th
        %td.time.green
          11:14 AM EST
        %td.info.recent
          We're back up, if you notice anything please let me know#goodnews
      %tr
        %td.date 
        %td.time
          11:07 AM EST
        %td.info.recent
          We have started our maintenance. The web UI and deployments will be offline for aproximately 10 minutes. I'll kepp you updated hers and on Twitter.
      %tr
        %td.date
          Sunday, March 10th
        %td.time
          3:10 PM EST
        %td.info
          Fixed and back to normal. we are almost finished some important data center maintance, so we don't expect this to happen again. Sorry for the issues this weekend.
      %tr
        %td.date 
        %td.time.red
          3:00 PM EST
        %td.info
          We have started our maintenance. The web UI and deployments will be offline for aproximately 10 minutes. I'll kepp you updated hers and on Twitter.
      %tr
        %td.date
          Sunday, March 10th
        %td.time
          3:10 PM EST
        %td.info
          Fixed and back to normal. we are almost finished some important data center maintance, so we don't expect this to happen again. Sorry for the issues this weekend.





